.counter {
    height: 170px;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    padding-left: 210px;
    padding-right: 210px;
}

.counter_values {
    display: flex;
    height: 32px;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.83;
    letter-spacing: 1.8px;
    text-align: center;
}

.counter_labels {
    display: flex;
    height: 13px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.13;
    letter-spacing: 0.8px;
    text-align: center;
}
.counter_value {
    width: 20%;
}

.counter_label {
    width: 20%;
}
