.counters {
    height: 170px;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter_value {
    height: 32px;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.83;
    letter-spacing: 1.8px;
    text-align: center;
}

.counter_label {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.13;
    letter-spacing: 0.8px;
    text-align: center;
}

@media(max-width: 1140px) {
    .counter_value {
        font-size: 30px;
    }

    .counter_label {
        font-size: 15px;
    }
}

@media(max-width: 1070px) {
    .counter_value {
        font-size: 27px;
    }

    .counter_label {
        font-size: 14px;
    }
}

@media(max-width: 1005px) {
    .counter_value {
        font-size: 36px;
    }

    .counter_label {
        font-size: 16px;
    }

    .counters {
        height: 380px;
        flex-direction: column;
        justify-content: center;
    }

    .counter {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
