.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 210px;
    padding-right: 210px;
    align-items: center;
    height: 93px;
    background: #f7f7f7;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

.copyright {
    opacity: 0.5;
    font-weight: 300;
    color: rgba(139, 139, 139, 0.5);
}

.designed {
    letter-spacing: 2.8px;
    color: #8b8b8b;
}

.designed_link {
    font-weight: 300;
    color: #000000;
    text-decoration: none;
}
