.padding {
    padding-left: 210px;
    padding-right: 210px;
}

.underline_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline::after {
    content: "";
    width: 100px;
    height: 1px;
    display: block;
    background-color: #f37469;
    margin-top: 5px;
    margin-bottom: 5px;
}
