.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 210px;
    padding-right: 210px;
    align-items: center;
    width: 1600px;
    height: 93px;
    background: #f7f7f7;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

}

.copyright {
    width: 195px;
    height: 13px;
    opacity: 0.5;
    font-weight: 300;
    letter-spacing: normal;
    color: rgba(139, 139, 139, 0.5);
}

.designed {
    width: 289px;
    height: 10px;
    font-weight: normal;
    letter-spacing: 2.8px;
    color: #000000;
}

.designed_link {
    font-weight: 300;
    color: #8b8b8b;
}
