.mobile_app {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
}

.smartphone {
    background-image: url(../images/mobile_app/mobile.png);
    width: 47%;
    height: 770px;
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: 5%;
}

.app_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 34%;
    align-self: center;
    padding-right: 210px;
}

.app_title {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.9px;
}

.app_text {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.13;
    letter-spacing: 0.8px;
}

.app_links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.market_link {
    height: 39px;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
}

.app_store {
    width: 112px;
    background-image: url(../images/mobile_app/app_store.png);
}

.google_play {
    width: 120px;
    background-image: url(../images/mobile_app/google_play.png);
}
