.reviews {
    height: 400px;
    background-size: cover;
    background: url(../images/reviews/background.png) center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviewer {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/reviews/avatar.png);
    border-radius: 50%;
    border: thick solid #958b95;
}

.review {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2;
    color: #a59ea5;
    text-align: center;
    margin-top: 1%;
}

.review_signature {
    font-size: 18px;
    font-style: italic;
    margin-top: 2%;
}

.carousel {
    width: 3.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;
}

.carousel_el {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel_el_1 {
    background-color: rgba(255, 255, 255, 0.9);
}

.carousel_el_2 {
    background-color: #7a6e7a
}

.carousel_el_3 {
    background-color: #7a6e7a
}
