.welcome {
    height: 800px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.25)), url(../images/welcome.png);
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_logo {
    width: 129px;
    content: url(../images/header/logo.png);
    margin-right: auto;
    margin-left: -30px;
}

.header_auth {
    font-size: 12px;
    font-family: Lato, sans-serif;
    color: white;
    margin-right: 20px;
}

.header_menu {
    width: 14px;
    height: 10px;
    content: url(../images/header/menu.png);
}

.get_started {
    text-align: center;
}

.get_started_subheader {
    opacity: 0.7;
    text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
    font-family: TimesNewRomanPS-MT, serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.8px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 200px;
}

.get_started_header {
    text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
    font-family: Lato, sans-serif;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    margin-top: -8px;
}

.get_started_btn {
    border: 2px solid white;
    width: 280px;
    height: 68px;
    background: transparent;
    margin-top: 15px;
}

.get_started_btn_text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.get_started_reward {
    text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
    font-family: Lato, sans-serif;
    font-size: 13px;
    letter-spacing: 0.7px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 25px;
}

.rewarded {
    font-weight: bold;
    text-decoration: underline;
}

@media(max-width: 680px) {
    .header {
        height: 120px;
    }

    .header_logo {
        content: url(../images/header/logo@3x.png);
        width: 200px;
        left: 0;
        right: 0;
        position: absolute;
        margin-left: auto;
        top: 150px;
    }

    .header_menu {
        margin-right: 25px;
    }

    .padding {
        padding-left: 0;
        padding-right: 0;
    }
}

